# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
backend/politics_past_30_months_comments.csv
/backend/politics_past_30_months_comments_cleaned.csv
/backend/politics_past_30_months_comments_cleaned_standardized.csv
/backend/politics_past_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/politics_30_months_comments.csv
/backend/politics_30_months_comments_cleaned.csv
/backend/politics_30_months_comments_cleaned_standardized.csv
/backend/politics_30_months_comments_cleaned_standardized_vader.csv
/backend/politics_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/test_data_for_tone.csv
/backend/test_data_for_tone_added.csv
/backend/test_data_for_tone_tones_added.csv
/backend/politics_30_months_comments_cleaned_standardized_vader_flair_15k.csv
/backend/MA_per_10politics_vader_compound_score.png
/backend/MA_per_10politics_vader_negative_score.png
/backend/MA_per_10politics_vader_neutral_score.png
/backend/MA_per_10politics_vader_positive_score.png
/backend/MA_per_10politics_whole_comment_sentiment_flair.png
/backend/MA_per_100politics_vader_compound_score.png
/backend/MA_per_100politics_vader_negative_score.png
/backend/MA_per_100politics_vader_neutral_score.png
/backend/MA_per_100politics_vader_positive_score.png
/backend/MA_per_100politics_whole_comment_sentiment_flair.png
/backend/MA_per_500politics_vader_compound_score.png
/backend/MA_per_500politics_vader_negative_score.png
/backend/MA_per_500politics_vader_neutral_score.png
/backend/MA_per_500politics_vader_positive_score.png
/backend/MA_per_500politics_whole_comment_sentiment_flair.png
/backend/MA_per_1000politics_vader_compound_score.png
/backend/MA_per_1000politics_vader_negative_score.png
/backend/MA_per_1000politics_vader_neutral_score.png
/backend/MA_per_1000politics_vader_positive_score.png
/backend/MA_per_1000politics_whole_comment_sentiment_flair.png
/backend/MA_per_5000politics_vader_compound_score.png
/backend/MA_per_5000politics_vader_negative_score.png
/backend/MA_per_5000politics_vader_neutral_score.png
/backend/MA_per_5000politics_vader_positive_score.png
/backend/MA_per_5000politics_whole_comment_sentiment_flair.png
/backend/MA_per_10000politics_vader_compound_score.png
/backend/MA_per_10000politics_vader_negative_score.png
/backend/MA_per_10000politics_vader_neutral_score.png
/backend/MA_per_10000politics_vader_positive_score.png
/backend/MA_per_10000politics_whole_comment_sentiment_flair.png
/backend/politics_moving_average_aggregate.png
/backend/MA_avg_per_500politics_vader_compound_score.png
/backend/MA_avg_per_500politics_vader_negative_score.png
/backend/MA_avg_per_500politics_vader_neutral_score.png
/backend/MA_avg_per_500politics_vader_positive_score.png
/backend/MA_avg_per_500politics_whole_comment_sentiment_flair.png
/backend/group_by_test.csv
/backend/MA_avg_per_50_submissions_politics_avg_vader_compound_score.png
/backend/MA_avg_per_50_submissions_politics_avg_vader_negative_score.png
/backend/MA_avg_per_50_submissions_politics_avg_vader_neutral_score.png
/backend/MA_avg_per_50_submissions_politics_avg_vader_positive_score.png
/backend/MA_avg_per_50_submissions_politics_avg_whole_comment_sentiment_flair.png
/backend/politics_november_comments.csv
/backend/politics_november_comments_cleaned.csv
/backend/politics_november_comments_cleaned_standardized.csv
/backend/politics_november_comments_cleaned_standardized_vader.csv
/backend/politics_november_comments_cleaned_standardized_vader_flair.csv
/backend/askreddit_30_months_comments.csv
/backend/askreddit_30_months_comments_cleaned.csv
/backend/askreddit_30_months_comments_cleaned_standardized.csv
/backend/askreddit_30_months_comments_cleaned_standardized_vader.csv
/backend/askreddit_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/aww_30_months_comments.csv
/backend/aww_30_months_comments_cleaned.csv
/backend/aww_30_months_comments_cleaned_standardized.csv
/backend/aww_30_months_comments_cleaned_standardized_vader.csv
/backend/aww_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/funny_30_months_comments.csv
/backend/funny_30_months_comments_cleaned.csv
/backend/funny_30_months_comments_cleaned_standardized.csv
/backend/funny_30_months_comments_cleaned_standardized_vader.csv
/backend/funny_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/investing_30_months_comments.csv
/backend/investing_30_months_comments_cleaned.csv
/backend/investing_30_months_comments_cleaned_standardized.csv
/backend/investing_30_months_comments_cleaned_standardized_vader.csv
/backend/investing_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/wallstreetbets_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/wallstreetbets_30_months_comments.csv
/backend/plants_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/plants_30_months_comments.csv
/backend/worldnews_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/worldnews_30_months_comments.csv
/backend/neoliberal_30_months_comments.csv
/backend/neoliberal_30_months_comments_cleaned.csv
/backend/neoliberal_30_months_comments_cleaned_standardized.csv
/backend/neoliberal_30_months_comments_cleaned_standardized_vader.csv
/backend/neoliberal_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/neutralnews_30_months_comments.csv
/backend/neutralnews_30_months_comments_cleaned.csv
/backend/neutralnews_30_months_comments_cleaned_standardized.csv
/backend/neutralnews_30_months_comments_cleaned_standardized_vader.csv
/backend/neutralnews_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/conservative_30_months_comments.csv
/backend/conservative_30_months_comments_cleaned.csv
/backend/conservative_30_months_comments_cleaned_standardized.csv
/backend/conservative_30_months_comments_cleaned_standardized_vader.csv
/backend/conservative_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/movies_30_months_comments.csv
/backend/movies_30_months_comments_cleaned.csv
/backend/movies_30_months_comments_cleaned_standardized.csv
/backend/movies_30_months_comments_cleaned_standardized_vader.csv
/backend/movies_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/roastme_30_months_comments.csv
/backend/roastme_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/toastme_30_months_comments.csv
/backend/toastme_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/graphs for all subreddits.zip
/backend/histograms_for_date_posted/
/backend/histograms_for_sentiment/
/backend/ma_for_comments/
/backend/ma_for_submissions/
/backend/aggregate_subreddit_sentiment_scores.csv
/backend/politics_daily_500_plus_top_only_method_comments.csv
/backend/politics_daily_500_plus_top_only_method_comments_cleaned.csv
/backend/politics_daily_500_plus_top_only_method_comments_cleaned_standardized.csv
/backend/politics_daily_500_plus_top_only_method_comments_cleaned_standardized_vader.csv
/backend/politics_daily_500_plus_top_only_method_comments_cleaned_standardized_vader_flair.csv
/backend/politics_daily_data_method_comments.csv
/backend/politics_daily_data_method_comments_cleaned.csv
/backend/politics_daily_data_method_comments_cleaned_standardized.csv
/backend/politics_daily_data_method_comments_cleaned_standardized_vader.csv
/backend/politics_daily_data_method_comments_cleaned_standardized_vader_flair.csv
/backend/politics_every_15th_method_comments.csv
/backend/politics_every_15th_method_comments_cleaned.csv
/backend/politics_every_15th_method_comments_cleaned_standardized.csv
/backend/politics_every_15th_method_comments_cleaned_standardized_vader.csv
/backend/politics_every_15th_method_comments_cleaned_standardized_vader_flair.csv
/backend/politics_first_friday_method_comments.csv
/backend/politics_first_friday_method_comments_cleaned.csv
/backend/politics_first_friday_method_comments_cleaned_standardized.csv
/backend/politics_first_friday_method_comments_cleaned_standardized_vader.csv
/backend/politics_first_friday_method_comments_cleaned_standardized_vader_flair.csv
/backend/toastme_every_4th_day_top_1_sub_top_only_comments_method_comments.csv
/backend/toastme_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned.csv
/backend/toastme_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized.csv
/backend/toastme_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader.csv
/backend/toastme_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader_flair.csv
/backend/politics_every_day_top_1_sub_top_only_comments_method_comments.csv
/backend/politics_every_day_top_1_sub_top_only_comments_method_comments_cleaned.csv
/backend/politics_every_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized.csv
/backend/politics_every_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader.csv
/backend/politics_every_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader_flair.csv
/backend/politics_every_4th_day_top_1_sub_top_only_comments_method_comments.csv
/backend/politics_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned.csv
/backend/politics_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized.csv
/backend/politics_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader.csv
/backend/politics_every_4th_day_top_1_sub_top_only_comments_method_comments_cleaned_standardized_vader_flair.csv
/backend/bitcoin_every_3rd_day_top_3_subs_top_only_comments_method_comments.csv
/backend/bitcoin_every_3rd_day_top_3_subs_top_only_comments_method_comments_cleaned.csv
/backend/bitcoin_every_3rd_day_top_3_subs_top_only_comments_method_comments_cleaned_standardized.csv
/backend/bitcoin_every_3rd_day_top_3_subs_top_only_comments_method_comments_cleaned_standardized_vader.csv
/backend/bitcoin_every_3rd_day_top_3_subs_top_only_comments_method_comments_cleaned_standardized_vader_flair.csv
/backend/bitcoin.csv
/backend/bitcoin3.csv
/backend/bitcoin2.csv
/backend/bitcoin_every_4th_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments.csv
/backend/bitcoin_every_4th_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned.csv
/backend/bitcoin_every_4th_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized.csv
/backend/bitcoin_every_4th_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized_vader.csv
/backend/bitcoin_every_4th_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized_vader_flair.csv
/backend/bitcoin_every_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments.csv
/backend/bitcoin_every_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned.csv
/backend/bitcoin_every_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized.csv
/backend/bitcoin_every_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized_vader.csv
/backend/bitcoin_every_day_top_1_sub_top_only_comments_bitcoin_price_overlay_method_comments_cleaned_standardized_vader_flair.csv
/backend/ma_for_comments_plotly/
/backend/ma_for_submissions_plotly/
/backend/random_sampled_data/aggregate_subreddit_sentiment_scores.csv
/backend/random_sampled_data/askreddit_30_months_comments.csv
/backend/random_sampled_data/askreddit_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/aww_30_months_comments.csv
/backend/random_sampled_data/aww_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/conservative_30_months_comments.csv
/backend/random_sampled_data/conservative_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/funny_30_months_comments.csv
/backend/random_sampled_data/funny_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/graphs for all subreddits.zip
/backend/random_sampled_data/investing_30_months_comments.csv
/backend/random_sampled_data/investing_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/movies_30_months_comments.csv
/backend/random_sampled_data/movies_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/neoliberal_30_months_comments.csv
/backend/random_sampled_data/neoliberal_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/neutralnews_30_months_comments.csv
/backend/random_sampled_data/neutralnews_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/plants_30_months_comments.csv
/backend/random_sampled_data/plants_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/politics_30_months_comments.csv
/backend/random_sampled_data/politics_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/politics_30_months_comments_cleaned_standardized_vader_flair_15k.csv
/backend/random_sampled_data/politics_november_comments.csv
/backend/random_sampled_data/politics_november_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/politics_past_30_months_comments.csv
/backend/random_sampled_data/politics_past_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/politics_TEST.csv
/backend/random_sampled_data/roastme_30_months_comments.csv
/backend/random_sampled_data/roastme_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/test_data_for_tone.csv
/backend/random_sampled_data/test_data_for_tone_added.csv
/backend/random_sampled_data/test_data_for_tone_tones_added.csv
/backend/random_sampled_data/toastme_30_months_comments.csv
/backend/random_sampled_data/toastme_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/wallstreetbets_30_months_comments.csv
/backend/random_sampled_data/wallstreetbets_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/worldnews_30_months_comments.csv
/backend/random_sampled_data/worldnews_30_months_comments_cleaned_standardized_vader_flair.csv
/backend/random_sampled_data/
